
body{
    background: rgba(66, 10, 119, 0.704);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: rgba(77, 5, 145, 0.514);
}
li{
    float: left;
    padding: 5px;
    display: block;
}
#head{
    color: whitesmoke;
    font-weight: 1000;
    margin-top: 10px;
}

#search{
    background-color: rgba(66, 10, 119, 0.801);
    height: 40px;
    padding: 0;
    margin: 0;
}
#search-img{
    margin-top: 5px;
    height: 30px;
    background-color: rgba(66, 10, 119, 0.801);
}

.container{
    color: aliceblue;
    width: 70%;
    margin: 20px auto;
}
.row-1, .row-2, .row-3{
    display: flex;
    height: 400px;
}
.box-1, .box-10 {
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.35);
    margin: 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.box-1:hover, .box-10:hover{
    cursor: pointer;
    color: gainsboro;
}
.box-2, .box-3, .box-4, .box-5, .box-6, .box-7, .box-8, .box-9{
    width: 25%;
    border: 1px solid rgba(0, 0, 0, 0.35);
    margin: 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.box-2:hover, .box-3:hover, .box-4:hover, .box-5:hover, .box-6:hover, .box-7:hover, .box-8:hover, .box-9:hover{
    cursor: pointer;
    color: gainsboro;
}
.card{
    width: 100%;
    height: 150px;
}
.text{
    background-color: rgba(103, 12, 189, 0.801);
    height: 220px;
    padding: 5px;
    word-wrap: break-word;
    overflow-y: auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1vw;

}
.box-2 .text, .box-3 .text, .box-4 .text, .box-5 .text, .box-6 .text, .box-7 .text, .box-8 .text, .box-9 .text{
    font-size : 0.8vw;
}